################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/setup/setup/bin
/setup/setup/obj
*.cache
*.user
*.pfx
/setup/setup/SigningCertificate_Encoded.txt
/.vs
/setup/setup/BundleArtifacts
/setup/setup/AppPackages

